<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <link rel="stylesheet" href="/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <a class="tab active">Login</a>
            <a href="/register" class="tab">Register</a>
        </div>
        <form action="/login" method="POST">
            <div>
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" required>
                <% if(error && error.length) {%>
                    <p class="error_message"><%= error %></p>
                <% } %>
            </div>
            <button>Login</button>
        </form>
    </div>
</body>
</html>

<script>
    document.querySelectorAll('input').forEach(input => {
        input.addEventListener('input', ()=> {
            const inputtt = input.value ? input.value.trimStart() : '' 
            input.value = inputtt
        })
    })
</script>