<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="/app.css">
</head>
<body>
    <div class="wrapper">
        <img class="notFound_img" src="/assets/page-not-found.png" alt="not found">
        <div class="blockk">
            <p>Page not found 😢</p>
            <p>return to <a class="link" href="/">home page</a></p>
        </div>
    </div>
</body>
</html>