@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

body{
    min-height: 100vh;
}
.wrapper{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
nav{
    background-color: #FEC868;
    padding: 20px 0;
}
nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome{
    margin-top: 15px;
}
.logoutBtn{
    border: 2px solid black;
    padding: 2px 5px;
    transition: background 0.3s linear;
}
.logoutBtn:hover{
    background: #fff;
}
.success_message{
    color: green;    
}
.notFound_img{
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}
.link{
    color: blue;
}
.blockk{
    text-align: center;
}
.blockk p {
    font-size: 30px;
}
.todos_container{
    padding: 50px 0;
    display: flex;
    flex-wrap:wrap;
    /* gap: 20px; */
    justify-content: space-between;
}
.todos_container > * {
    flex-basis:50%;
}
.todo-block{
    padding: 10px 20px;
    background:linear-gradient(to right, #ABC270, #FDA769);
    margin-bottom: 20px;
    max-width: 500px;
}