@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bree Serif', serif;
}

body{
    min-height: 100vh;
}

a{
    text-decoration: none;
}
a{
    color: #000;
}